/* Toast Notification */
.toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1000;
}

.toast.show {
    opacity: 1;
    visibility: visible;
}

.disabled {
    pointer-events: none; /* Disable clicking */
    opacity: 0.6; /* Make it look disabled */
}
